body {
  background-color: #bfdbf7;
  margin: 0;
}

.title {
  text-align: center;
  font-family: "Bree Serif", serif;
  color: #053c5e;
  font-size: 35px;
}

@media (min-width: 800px) {
  .title {
    font-size: 5vw;
  }
}

@media (min-width: 1200px) {
  .title {
    font-size: 3vw;
    margin-bottom: 2em;
  }
}
